<ul class="round-list">
  <li class="round-list-item">
    <div class="round-list-item__date">Nov 22, 2015</div> -
    <div class="round-list-item__time">10mins</div> -
    <div class="round-list-item__precentage">75%</div>
  </li>
  <li class="round-list-item">
    <div class="round-list-item__date">Nov 22, 2015</div> -
    <div class="round-list-item__time">10mins</div> -
    <div class="round-list-item__precentage">75%</div>
  </li>
  <li class="round-list-item">
    <div class="round-list-item__date">Nov 22, 2015</div> -
    <div class="round-list-item__time">10mins</div> -
    <div class="round-list-item__precentage">75%</div>
  </li>
</ul>
