<ul class="round-list">
  {{#each model as |round|}}
    <li class="round-list-item">
      <div class="round-list-item__date">{{moment-format round.date 'MMM DD, YYYY'}}</div> -
      <div class="round-list-item__time">{{ round.time }}</div> -
      <div class="round-list-item__percentage">{{ round.percentage }}</div>
    </li>
  {{/each}}
</ul>
