<ul class="round-list">
  <li class="round-list-item">
    <div class="round-list-item__date">Nov 22, 2015</div>
  </li>
  <li class="round-list-item">
    <div class="round-list-item__date">Nov 22, 2015</div>
  </li>
  <li class="round-list-item">
    <div class="round-list-item__date">Nov 22, 2015</div>
  </li>
</ul>
