{{#simple-form onsubmit="loginUser" as |formValues|}}
  {{input value=formValues.email name="email" type="text" placeholder="Email"}}
  {{input value=formValues.password name="password" type="password" placeholder="Password"}}

  <button class="form-submit">Submit</button>
{{/simple-form}}
